body {
  margin: 0;

  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  /* background-color: #207; */

  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  justify-self: flex-start;
  align-items: stretch;
  align-content: stretch;

  gap: 0em;
}

header,
footer {
  width: 100vw;
  height: 3em;

  padding: 0 1em;

  background-color: #0ff;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  justify-self: flex-start;
  align-items: center;
  align-content: center;

  gap: 1em;
}

header img,
footer img {
  width: 2em;
  height: 2em;
}

main {
  flex-grow: 1;
  background-color: #f0f;
}